<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XML-Plist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FDA6BECD1DD46D9300EABE6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDA6BEE61DD46D9300EABE6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDA6BEF11DD46D9300EABE6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
